

.testimonials-section, .faq-section {
  padding: 40px 20px;
  margin: 20px 0;
  max-width: 1400px;
  margin: 10px auto 0;
}

.subheading2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.subheading2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: gold;
  margin: 10px auto 0;
}

.testimonials-section {
  padding: 60px 20px;
  text-align: center;
}
.testimonials {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.testimonial-card {
  background-color: #2A3A54;
  border: solid 2px gold;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  flex: 1;
}

.testimonial-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}
.testimonial-card p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 10px;
  font-style: italic;
}
.testimonial-card span {
  font-size: 0.9rem;
  color: gold;
  font-weight: 500;
}

/* Blog Section */
.galeri-section {
    display: grid;
    margin: 20px auto;
    max-width: 2000px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 16px;
}

.galeri-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 100%;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; 
}


.cta-service-button {
  display: inline-block;
  font-size: 0.9rem;
  color: gold;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid gold;
  padding: 8px 15px;
  border-radius: 5px;
}


.small-carousel-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 40px 0 20px;
}

.small-carousel {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.small-carousel-inner {
  display: flex;
  transition: transform 2s ease;
}
.small-carousel-card img{
  width: 100%;
  height: 100%;
  padding: 5px ;
  object-fit:contain;
}
.small-carousel-card {
  flex: 0 0 50%;
  /* height: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.small-carousel-prev,
.small-carousel-next {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0 10px;
}
.map-section {
  border-bottom: solid 2px gold;
  padding: 20px;
  text-align: center;
}

.map-title {
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Limit the width for better presentation */
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow for a floating effect */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Prevent overflow of iframe */
}

.map-container iframe {
  display: block;
  width: 100%;
  height: 450px; /* Fixed height */
  border: none; /* Remove border */
}

@media (min-width: 768px) {
  .small-carousel-card {
    flex: 0 0 25%;
  }
  
}

@media (max-width: 768px) {
  .galeri-card{
    width: 100vw ;

  }
}
