
.hero img{
    height: 100%;
    width: 100%;
}

.service-page {
    padding: 50px;
    text-align: center;
    background-color: #f6f4e6;
}

.service-page h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.service-page p {
    line-height: 1.6;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}
.card-content img{
    width: 40px; 
    height: 40px; 
    filter: invert(1) brightness(100%);
}

.card {
    position: relative; 
    text-align: left;
    height: auto;
    width: 300px; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: white; 
}

.card-content{
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: -20px;
    color: white;
}

.badge-icon {
    border-width: 1px;
    border-style: solid;
    border-color: #c2cacf;
    background-color: white; 
    position: absolute;
    top: -10px;
    right: -10px;
    max-width: 40px; /* Set a max width */
    max-height: 40px; /* Set a max width */
    height: auto; /* Maintain aspect ratio */
}

.card h2 {
    font-weight: 600;
}

.card p {
    padding:  30px 0 30px 0;

}

.list {
    padding: 0 0 20px 20px;
    list-style-type: none;
    margin-bottom: 20px;
}

.list li {
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}
.list li::before{
    content: '✔';
    color: #00aaff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cta-service-button {
    font-family: "Red Hat Display", sans-serif; 
    background-color: #25D366;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;


}

.cta-service-button:hover {
    background-color: #1ebe5f; /* Darker shade on hover */
}

/* Colors for different categories */
.premium{
    background: linear-gradient(45deg, #ffd700, #ffcc00, #b8860b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block; /* Ensures the gradient applies to the text */
    font-weight: 600;
}
.subheading {
    padding-top: 40px;
    font-weight: 600;
    text-align: center; /* Center the subheading */
    font-size: 1.5rem; /* Size of the subheading */
    margin: 20px 0; /* Space above and below */
    position: relative; /* Needed for the underline effect */
}

.subheading::after {
    content: '';
    display: block;
    width: 50%; /* Width of the underline */
    height: 2px; /* Thickness of the underline */
    background: #ff5722; /* Color of the underline */
    margin: 10px auto 0; /* Center the underline */
}


/* Responsive Styles */
@media (max-width: 1090px) {
    .card {
        width: 100%; /* Full width on smaller screens */
    }
}

@media (max-width: 768px) {
    .service-page {
        padding: 30px; /* Adjust padding */
    }

    .card {
        width: 90%; /* Slightly smaller width */
    }

    .cta-service-button{
        
    display: block; 
    }
}
