
.hero img{
    height: 100%;
    width: 100%;
}

.service-page {
    padding: 50px;
    text-align: center;
    background-color: #d6f5ff;
}

.service-page h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.service-page p {
    line-height: 1.6;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards in the container */
    gap: 20px; /* Space between cards */
}

.card {
    text-align: left;
    height: auto;
    width: 300px; /* Set a fixed width for better alignment */
    padding: 20px; /* Padding inside each card */
    border-radius: 10px; /* Rounded corners */
}

.card h2 {
    font-weight: 600;
}

.list {
    padding: 0 0 20px 20px;
}

.list li {
    font-weight: 600;
    margin-bottom: 10px;
}

.cta-service-button {
    font-family: "Red Hat Display", sans-serif; 
    background-color: #25D366;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-service-button:hover {
    background-color: #1ebe5f; /* Darker shade on hover */
}

/* Colors for different categories */
.card:nth-child(1),
.card:nth-child(2) { /* PT Umum and PT Umum Premium */
    background-color: #F0FFFF; /* Light Cyan */
}

.card:nth-child(3),
.card:nth-child(4) { /* PT Perorangan and PT Perorangan Premium */
    background-color: #F5FFFA; /* Light Orange */
}

.card:nth-child(5),
.card:nth-child(6) { /* Pendirian CV and Pendirian CV Premium */
    background-color: #E0FFFF; /* Light Purple */
}

.card:nth-child(7),
.card:nth-child(8) { /* Pendirian Firma and Pendirian Firma Premium */
    background-color: #F5FFFA; /* Light Green */
}

.card:nth-child(9),
.card:nth-child(10) { /* Pendirian Yayasan and Pendirian Yayasan Premium */
    background-color: #F5F5F5; /* Light Red */
}

.card:nth-child(11),
.card:nth-child(12) { /* Pendirian Perkumpulan and Pendirian Perkumpulan Premium */
    background-color: #bbdefb; /* Light Blue */
}

/* Responsive Styles */
@media (max-width: 1090px) {
    .card {
        width: 100%; /* Full width on smaller screens */
    }
}

@media (max-width: 768px) {
    .service-page {
        padding: 30px; /* Adjust padding */
    }

    .card {
        width: 90%; /* Slightly smaller width */
    }
}
