/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Blinker", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

h1 {
  font-size: 36px;  
}
h2 {
  font-size: 22px;  
}
p {
  font-size: 16px;  
}
  
/* Hero Section */


/* Services Section */
.services {
    padding: 30px;
    text-align: center;
}

.services h2 {
    font-weight: 400;
    margin-bottom: 10px
}
.services h1 {
    font-weight: 600;
    margin-bottom: 30px
}
.services p {
    margin-bottom: 30px
}

.service-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    transition: opacity 0.5s ease, transform 0.5s ease; /* Efek transisi */
    transform: translateY(20px); /* Pindahkan sedikit ke bawah */
    opacity: 0; /* Mulai dengan transparan */
    background-color: #f5f6f8;
    width: 30%;
    border-width: 1px;
    border-style: solid;
    border-color: #c2cacf;
    padding: 20px;
    border-radius: 10px;
}
.card.visible {
    opacity: 1; /* Tampilkan kartu */
    transform: translateY(0); /* Kembali ke posisi awal */
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Footer */
.footer {
    background-color: #001F3F;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
    .services h1{
        font-size: 30px;
    }
}
