/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Blinker", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

h1 {
  font-size: 36px;  
}
h2 {
  font-size: 22px;  
}
p {
  font-size: 16px;  
}
  

.hubungi-kami .card img{
    background: #fff;
    padding:10px;
    position: absolute;
    width: 55px;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #c2cacf;
    top: -30px; 
    left: 50%; 
    transform: translateX(-50%); 
}
#hubungi-kami::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ff5722;
    margin: 10px auto 0;
}
#layanan-kami::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ff5722;
    margin: 10px auto 0;
}

.services {
    padding: 30px;
    text-align: center;
    background-color: #f6f4e6;
}

.services h2 {
    font-weight: 400;
    margin-bottom: 10px;
    color: #171717;

}
.services h1 {
    font-weight: 600;
    margin-bottom: 30px;
    color: #171717;
}
.services p {
    margin-bottom: 30px;
    color: #171717;

}

.service-cards {
    display: flex;
    justify-content: space-around;
    margin: 20px auto; 
    max-width: 1300px;
}

.card {
    transition: opacity 0.5s ease, transform 0.5s ease; 
    transform: translateY(20px); /* Pindahkan sedikit ke bawah */
    opacity: 0; /* Mulai dengan transparan */
    /* background-color: #f5f6f8; */
    background-color: #fff;
    width: 30%;
    border-width: 1px;
    border-style: solid;
    border-color: #c2cacf;
    padding: 20px;
    border-radius: 10px;
}
.card.visible {
    opacity: 1; /* Tampilkan kartu */
    transform: translateY(0); /* Kembali ke posisi awal */
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
    .services h1{
        font-size: 30px;
    }
}
