/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Blinker", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}
body {
    position: relative;
    background-image: url('https://github.com/mirzajebret/indoadminsolution/blob/main/img/bg/XBBG.PNG?raw=true');
    background-size:contain ;
    background-position: center center;
}

/* Pseudo-element with orange filter */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
/*     background: rgba(164, 209, 235, 0.3);  */
    z-index: -1;
}

h1 {
  font-size: 36px;  
}
h2 {
  font-size: 22px;  
}
p {
  font-size: 16px;  
}
  

.hubungi-kami .card img{
    background-color: #2e3646;
    padding:10px;
    position: absolute;
    width: 55px;
    height: auto;
    border: 2px solid gold; /* Add this line */
    top: -30px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.services {
    padding: 30px;
    text-align: center;
}

.services h2 {
    font-weight: 400;
    margin-bottom: 10px;
    color: #171717;

}
.services h1 {
    font-weight: 600;
    color: #fff;
}
.services p {
    margin-bottom: 30px;
    color: #171717;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    margin: 20px auto; 
    max-width: 1800px;
}

.card {
    transition: opacity 0.5s ease, transform 0.5s ease; 
    transform: translateY(20px); 
    opacity: 0; 
    background-color: #2e3646;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid gold; /* Add this line */
    
}
.layanankami h2, .layanankami p{
    color: #fff;
}
.card.visible {
    opacity: 1; 
    transform: translateY(0); 
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.responsive-image {
    width: 50%;
    height: auto;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.single-image {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    height: 70px;
    margin: 20px auto; /* Center the image horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-image img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    object-fit: contain; /* Ensure the image covers the div */
}
.gold-gradient-line {
    height: 5px;
    background: linear-gradient(to right, #FFD700, #FFA500);
    margin: 0 auto; /* Center the line horizontally */
    position: relative;
    top: -2px; /* Adjust to ensure it is exactly between the sections */
    width: 100%;
}
@media (min-height: 900px) {
.gold-gradient-line{
    top: -60px; 
}
}
@media (max-width: 768px) {
    .responsive-image {
        width: 100%;
    }

    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
    .services h1{
        font-size: 30px;
    }
}
